.input {
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none;
	user-select: none;
}

.input {
  margin: 10px 0;
} 

/*COMMON STYLE FOR CHECK-BOX AND RADIO*/
.input .label {
	cursor: pointer;
	display: table;
	vertical-align: middle;
}

.input .label span {
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}

.input.sm .label div {
	width: 14px;
	height: 14px;
}

.input.sm .label span {
	font-size: 12px;
	padding: 0 0 0 5px;
}

.input.md .label div {
	width: 17px;
	height: 17px;
}

.input.md .label span {
	font-size: 14px;
	padding: 0 0 0 8px;
}

.input.lg .label div {
	height: 24px;
	width: 24px;
}

.input.lg .label span {
	font-size: 18px;
	padding: 0 0 0 10px;
}

/*CHECK-BOX*/
.input.checkbox.sm .label div {
	background: url(../img/input/input-ico-sm.png) no-repeat;
}

.input.checkbox.md .label div {
	background: url(../img/input/input-ico-md.png) no-repeat;
}

.input.checkbox.lg .label div {
	background: url(../img/input/input-ico-lg.png) no-repeat;
}

.input.checkbox.sm:hover .label div {
	background-position: -14px 0px;
}

.input.checkbox.md:hover .label div {
	background-position: -17px 0px;
}

.input.checkbox.lg:hover .label div {
	background-position: -24px 0px;
}

.input.checkbox.sm.active .label div {
	background-position: -28px 0px;
}

.input.checkbox.md.active .label div {
	background-position: -34px 0px;
}

.input.checkbox.lg.active .label div {
	background-position: -48px 0px;
}

/*RADIO*/
.input.radio.sm .label div {
	background: url(../img/input/input-ico-sm.png) no-repeat;
}

.input.radio.md .label div {
	background: url(../img/input/input-ico-md.png) no-repeat;
}

.input.radio.lg .label div {
	background: url(../img/input/input-ico-lg.png) no-repeat;
}

.input.radio.sm:hover .label div {
	background-position: -14px 0px;
}

.input.radio.md:hover .label div {
	background-position: -17px 0px;
}

.input.radio.lg:hover .label div {
	background-position: -24px 0px;
}

.input.radio.sm.active .label div {
	background-position: -28px 0px;
}

.input.radio.md.active .label div {
	background-position: -34px 0px;
}

.input.radio.lg.active .label div {
	background-position: -48px 0px;
}

/*SELECT*/
.input.select {
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.input.select div.title {
	padding: 5px 40px 5px 10px;
	display: inline-block;
	position: relative;
}

.input.select:after {
	content: '';
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	width: 10px;
	background: url(../img/input/select-arrow.png) center center no-repeat;
}

.input.select, .options {
	border-radius: 6px;
	border: solid 1px #336699;
}

.input.select .options {
	display: block;
	position: relative;
	top: 27px;
	background: #fff;
	z-index: 999;
  overflow: auto;
  max-height: 235px;
}

.input.select .options span {
	display: block;
	padding: 5px 40px 5px 10px;
	cursor: pointer;
}

.input.select.sm {
	font-size: 12px;
	height: 24px;
}

.input.select.md {
	font-size: 14px;
	height: 26px;
}

.input.select.lg {
	font-size: 18px;
	height: 30px
}

.input.select .options span:first-child {
	padding-top: 10px;
}

.input.select .options span:last-child {
	padding-bottom: 10px;
}

.input.select .options span:hover {
	background: rgba(51, 102, 153, 0.14);
}

/*TEXT*/
.input.text {
  display: inline-block;
}

.input.text input {
  padding: 5px 40px 5px 10px;
  border-radius: 6px;
  border: solid 1px #336699;
  color: #587f8b;
}

.input.text.sm input {
  font-size: 12px;
  height: 24px;
}

.input.text.md input {
  font-size: 14px;
  height: 26px;
}

.input.text.lg input {
  font-size: 18px;
  height: 30px
}

/*PLACEHOLDER*/
.input input[data-placeholder] {
  color: 
}
